.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fdf6f6;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 3, 3);
}

.App-link {
  color: #61dafb;
}


li {
  display: inline-flex;
  /* Align elements horizontally */
  font-size: 0.7em;
  margin-left: 3em;
  margin-right: 3em;


}


@font-face {
  font-family: 'Hatton';
  src: url('./hatton-font-family/PP\ Hatton\ Medium\ 500.otf');
}

a {
  text-decoration: none;
  color: rgb(3, 3, 3);
  font-family: 'Futura', 'Roboto', sans-serif;
  transition: 0.6s;
  font-size: 0.8em;
  /* round */
  border-radius: 0.5em;
}

a:hover {
  color: rgb(239, 187, 83);
}


#header-logo {
  height: 1.4em;
  float: left;

}

#header-advise {
  font-size: 0.42em;
  margin-top: 0.3em;
}

#header-donation {
  color: rgb(239, 187, 83);
  /* center vertically */
  
}


#header-donation:hover {
  color: rgb(235, 145, 103)
}

#header-socialmedia {
  position: absolute;
  right: 0;
  margin-right: 2em;
  margin-top: 0.1em;

}

#header-mail {
  height: 0.7em;
}

#header-youtube {
  height: 0.71em;
}

#header-facebook {
  height: 0.7em;
}

#header-linkedin {
  height: 0.7em;
}